.seat{
    width: 55px;
    height: 55px;
    border: 2px;
    border-color: black;
    display: inline-block;
    border-style: outset;
    text-align: center;
}

.section{
padding-top: 25px;

}
.booking-seat{
    cursor: pointer;
}
.booked{
cursor: no-drop;
background-color: gray;
}


.reserved{
    background-color: indianred;
}

ankit-booking{
    display: block;
}
booking-row{
    display: block;
}

booking-section{
    display: block;
}